<%
table_arr = {
	'User'  => %w/user_id/,
	'Name'  => %w/name/,
	'Email' => %w/email/,
	'Desc'  => %w/desc/,
}

row_arr = @users

%>

<h1>Listing users</h1>

<span><%= link_to 'Show', {}, :id=> "show_link" %></span>
<span><%= link_to 'Edit', {}, :id=> "edit_link" %></span>
<span><%= link_to 'Destroy', {}, method: :delete, :id=> "destroy_link" %></span>

<%= render 'layouts/table'%>

<br />

<%= link_to 'New User', new_user_path %>