<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Num:</b>
  <%= @user.num %>
</p>

<p>
  <b>Memo:</b>
  <%= @user.memo %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
