
<table id="datatable" class="display">
	<thead>
		<tr>
			<th></th>
			<% "view init table".deb %>
			<% @table_arr.each_key do |thead| %>
			<th><%= thead %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @row_arr.each do |row| %> 
		<tr>
			<td>
				<%= link_to 'S', row %>
				<%= link_to 'E', edit_user_path(row) %>
				<%= link_to 'D', row, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			<% @table_arr.each_value do |field_arr|
				td = row
				field_arr.each do |field|
					td = td.__send__(field.intern) %>
				<td><%= td %></td>
				<% end %>
			<% end %>
		</tr>
		<% end %>
	<tbody>
</table>

<br />

